<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>MWL</title>
        <link rel="stylesheet" href="../static/css/main.css">
    </head>
    <body>
        <div class="logo">
            <!--<img src="../static/logo.png" width="160" height="90" />-->
            <a href="/home"><h1>MWL</h1></a>
        </div>
        <h1>404 - Page not found!</h1>
        <p>Your request for <code>{{uri}}</code> didn't match anything we know about! Whoops!</p>
        <p><a href="/home">home</a>
    </body>
</html>
