<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>MWL</title>
        <link rel="stylesheet" href="../static/css/main.css">
    </head>
    <body>
        <div class="logo">
            <!--<img src="../static/logo.png" width="160" height="90" />-->
            <a href="/home"><h1>MWL</h1></a>
        </div>
        <h1>Login</h1>
        <form action="/login" method="post" accept-charset="utf-8">
            <p><input type="text" name="name" placeholder="name" cols="20"></p>
            <p><input type="password" name="pass" placeholder="password" cols="20"></p>
            <p><input type="submit" value="Login"></p>
        </form>
        <h1>Register</h1>
        <form action="/register" method="post" accept-charset="utf-8">
            <p><input type="text" name="name" placeholder="name" cols="20"></p>
            <p><input type="password" name="pass" placeholder="password" cols="20"></p>
            <p><input type="submit" value="Register"></p>
        </form>
    </body>
</html>
